[Desktop Entry]
Name=Nexuiz (GLX)
Comment=Nexuiz for linux
Comment[pl]=Nexuiz dla Linuksa
Exec=nexuiz-glx
Icon=nexuiz.png
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
Encoding=UTF-8
# vi: encoding=utf-8
